java-example-cancelacion/src/META-INF/wsdl/dev33.facturacfdi.mx_80/WSCancelacion40Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wservicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wservicios/" name="WSCancelacion40Service">
<types>
<xsd:schema>
<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://dev33.facturacfdi.mx:80/WSCancelacion40Service?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.sat.gob.mx/sitio_internet/cfd" schemaLocation="http://dev33.facturacfdi.mx:80/WSCancelacion40Service?xsd=2"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://wservicios/" schemaLocation="http://dev33.facturacfdi.mx:80/WSCancelacion40Service?xsd=3"/>
</xsd:schema>
</types>
<message name="Cancelacion40_3">
<part name="parameters" element="tns:Cancelacion40_3"/>
</message>
<message name="Cancelacion40_3Response">
<part name="parameters" element="tns:Cancelacion40_3Response"/>
</message>
<message name="Cancelacion40_1">
<part name="parameters" element="tns:Cancelacion40_1"/>
</message>
<message name="Cancelacion40_1Response">
<part name="parameters" element="tns:Cancelacion40_1Response"/>
</message>
<message name="Cancelacion40_2">
<part name="parameters" element="tns:Cancelacion40_2"/>
</message>
<message name="Cancelacion40_2Response">
<part name="parameters" element="tns:Cancelacion40_2Response"/>
</message>
<portType name="WSCancelacion40">
<operation name="Cancelacion40_3">
<input wsam:Action="http://wservicios/WSCancelacion40/Cancelacion40_3Request" message="tns:Cancelacion40_3"/>
<output wsam:Action="http://wservicios/WSCancelacion40/Cancelacion40_3Response" message="tns:Cancelacion40_3Response"/>
</operation>
<operation name="Cancelacion40_1">
<input wsam:Action="http://wservicios/WSCancelacion40/Cancelacion40_1Request" message="tns:Cancelacion40_1"/>
<output wsam:Action="http://wservicios/WSCancelacion40/Cancelacion40_1Response" message="tns:Cancelacion40_1Response"/>
</operation>
<operation name="Cancelacion40_2">
<input wsam:Action="http://wservicios/WSCancelacion40/Cancelacion40_2Request" message="tns:Cancelacion40_2"/>
<output wsam:Action="http://wservicios/WSCancelacion40/Cancelacion40_2Response" message="tns:Cancelacion40_2Response"/>
</operation>
</portType>
<binding name="WSCancelacion40PortBinding" type="tns:WSCancelacion40">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Cancelacion40_3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cancelacion40_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cancelacion40_2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCancelacion40Service">
<port name="WSCancelacion40Port" binding="tns:WSCancelacion40PortBinding">
<soap:address location="http://dev33.facturacfdi.mx:80/WSCancelacion40Service"/>
</port>
</service>
</definitions>